<div class="container">
  <header>
    <h1>Todo List ({{incompleteCount()}})</h1>
    <label class="hide-completed">
      <input ng-model="$parent.hideCompleted" type="checkbox"/>
      Hide Completed Tasks
    </label>
    <blaze-template name="loginButtons"></blaze-template>
    <form class="new-task" ng-submit="addTask(newTask); newTask='';" ng-show="$root.currentUser">
      <input name="text" ng-model="newTask" placeholder="type to add new tasks" type="text"/>
    </form>
  </header>

  <ul>
    <li ng-class="{'checked': task.checked}" ng-repeat="task in tasks">
      <button class="delete" ng-click="deleteTask(task)">&times;</button>
      <input class="toggle-checked" ng-model="task.checked" ng-click="setChecked(task)" type="checkbox"/>
      <span class="text">
        <strong>{{task.username}}</strong> - {{task.text}}
      </span>
    </li>
  </ul>
</div>
